.footer{
    background-color: var(--color-footer);
    height: 90vh;
    position: relative;
    margin-top: 5rem;
}
.img-logos .omega{
    width: 70px;
}
.img-logos img{
   padding-right: 10px;
}
.img-logos {
    left: 13%;
   z-index: 995;
   position: absolute;
}
.footer .contact{
    width: 100%;
    padding-top: 6rem;
}
.footer .contact h3{
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    padding-bottom: 20px;
}
.footer .contact .adress img{
    width: 130px;
    height: auto;
}
.footer .contact .adress span{
    color: var(--color-fonts-footer);
    font-size: 16px;
    padding: 7px 0;
    font-family: var(--second-fonts);
}
.footer .contact .adress .redes a{
    color:var(--color-fonts-footer) ;
    padding:10px;
}
.footer .contact .adress .redes a:hover{
    filter: brightness(200%);
}
.footer .contact .adress{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
}
.footer .contact .contacto{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .contact .contacto .form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.footer .form input{
    padding: 8px;
    margin: 10px;
    width: 350px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--color-fonts-footer);
    color: #ffffff;
}
.footer .form textarea{
    max-width: 350px;
    margin: 10px;
    height: 120px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--color-fonts-footer);
    color: #ffffff;
    padding: 8px;
    resize: none;
}
.footer .form input::placeholder,
.footer .form textarea::placeholder{
    color: #ffffff;
    font-family: var(--second-fonts);
}
.footer .btn{
    border: none;
    color: #ffffff;
    background-color: var(--red);
    outline: none;
    padding: 12px;
    border-radius: 5px;
    width: 120px;
    font-weight: bold;
    cursor: pointer;
}
.footer .btn-form{
   display: flex;
   justify-content: flex-end;
   margin-right: 2%;
   transition:background-color ease .2s;
}
.footer .btn:hover{
    background-color: var(--color-fonts-footer);
    transition: background-color ease .2s;
}

/**************************queries**********************************/
@media screen and (min-width:1600px){
    .footer{
        margin-top: 0rem;
       
    }
}
@media only screen and (max-width: 1100px){
    .footer{
        margin-top: 0rem;
      
    }
    .img-logos {
        left: 15%;
        width: 60%;
    }
}
@media screen and (max-width:992px){
    .footer{
        margin-top: 0rem;
        height: 100vh;
    }
    .footer .contact .contacto{
        flex-direction: column-reverse;
    }
    .img-logos {
        left: 2%;
        width: 60%;
    }
}
@media screen and (max-width:768px){
    .footer{
        margin-top: 19rem;
    }
    .footer .contact .contacto{
        flex-direction: column-reverse;
    }
    .img-logos {
        left: 1%;
        top: 20px;
    }
}
@media screen and (max-width:576px){
    .footer{
        margin-top: 8rem;
    }
    .footer .form input{
        width: 250px;
        margin: 5px;
    }
    .footer .form textarea{
        max-width: 250px;
        height: 80px;
        margin: 5px;
    }
    .footer{
        height: 100vh;
    }
    .footer .contact .adress {
        font-size: 12px;
    }
    .footer .contact .adress span{
        padding-top: 10px;
    }
    .footer .contact .adress img{
        width: 80px;
    }
    .img-logos {
        left: 25%;
        width: 60%;
    }
    .img-logos img{
        width: 50px;
     }
     .img-logos .omega{
        width: 47px;
    }
}
@media screen and (max-width:320px){
    .footer{
        margin-top: 10rem;
    }
    .footer .contact .adress img{
        width: 60px;
    }
    .footer .contact .adress span{
        padding-top: 2px;
        font-size: 8px;
    }
    .img-logos {
        left: 20%;
        width: 70%;
    }
}
@media (min-height:750px) and (max-height:823px){
    .img-logos {
       top: -5px;
    }
}