*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: var(--primary-fonts);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
b{
    font-family: var(--third-fonts);
    font-size: 15px;
}

@media only screen and (min-width: 1600px){
    .container{
        max-width: 1500px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1100px){
    .owl-carousel .owl-stage-outer{
        overflow:hidden;
    }
}
@media screen and (max-width:992px){
    b{
        font-size: 10px;
    }
}
@media screen and (max-width:576px){
    b{
        font-size: 8px;
    }
}